*{
    font-family: 'Bahnschrift', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}
body::before {
  content: "";
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: 
        linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.5)),
        url("/public/bg.jpg") no-repeat center center / cover;
  z-index: -1;
}


main{
  width: 90%;
  justify-self: center;
  background-image: linear-gradient(to bottom, rgb(0, 100, 100), rgb(1, 73, 73));
  color: white;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  box-shadow: 0px 0px 15px 1px #000000;
}
@media (max-width: 768px) {
  main{
    border-radius: 0;
    width: 100%;
  }
  html,body{
  scroll-behavior: smooth;
  }
}
html{
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body{
  overflow-x: hidden; 
  overflow-y: auto;
}

@media(min-width:768px){
  ::-webkit-scrollbar {
  width: 6px;
  height: 12px;
}
::-webkit-scrollbar-track {
  background: #000; 
}
::-webkit-scrollbar-thumb {
  background-color: #444; 
  border-radius: 6px;
}
}