.button{
    background-color: rgb(0, 100, 100);
    color: white;
    border: none;
    border-radius: 15px;
    transition: all ease 0.3s;
    font-size: 120%;
    padding: 10px 20px 10px 20px;
    margin: 5px;
}
.button:hover{
    cursor: pointer;
    transform: translateY(-2.5px);
    box-shadow: 0px 5px 15px -1px #000000;
}
.button:active{
    background-color: rgb(0, 83, 83);
    transform: translateY(0);
    box-shadow: none;
}