.button{
width: 70px;
height: 30px;
border-radius: 10px;
border: none;
margin: 1px;
background: none;
color: white;
transition: all ease-in-out 0.2s;
}
.button:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}
.selected{
    background-color: white;
    color: black;
}
.booked{
    color: gray;
    text-decoration: line-through;
}
.strong{
    display: none;
}
.userBooking .strong{
    display: block;
}

.userBooking { 
    background-color: #2196f3; color: white; 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
} 
